@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap');

@font-face {
  font-family: sorvete;
  src: url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap');
}

h1 {
  font-family: "Workbench", sans-serif;
  font-size: 40px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.listCards {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
}

.listCards #lucro {
  border: 2px solid lightgrey;
  background-color: lightgreen;
  flex: 1;
  margin-top: 2vh;
  text-align: center;
}

#lucro h3::before {
  content: "Lucro";
}

#lucro:hover h4::before {
  content: "R$ 0,00";
}

.listCards #custo {
  border: 2px solid lightgrey;
  background-color: lightcoral;
  flex: 1;
  margin-top: 2vh;
  text-align: center;
}

.listCards #receita {
  border: 2px solid lightgrey;
  background-color: lightblue;
  flex: 1;
  margin-top: 2vh;
  text-align: center;
}